7z/
doc/
installer/*.bat
installer/*.ico
installer/configure-opengl-hq.bat
d3dcompiler_*.dll
mpv.com
mpv.exe
mpv*.7z
youtube-dl.exe
log.txt
*.txt
*.new
mpv/fonts.conf
mpv/mpv.conf.kokomins
MPV-Made-Easy-Theater-Mode.lnk
mpv/mpv.conf.MK
yt-dlp.exe
scripts/TheatreMode.ps1
mpv/shaders/*

scripts/modernf.lua.ORG
